<a href="https://colab.research.google.com/github/luckyvamshi/2013_fall_ASTR599/blob/master/Finacne_code_to_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
### Google account authentication to give the code access to your Google account
### and gspread to enable writing to Google Sheets
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
from gspread_dataframe import set_with_dataframe


### The IPython.display library allows us to embed an iFrame within this 
### notebook
from IPython.display import IFrame

In [ ]:
auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
def write_to_google_sheet(dataframe, spreadsheet_key, worksheet_name, goog_creds = gc):
  
  sh = goog_creds.open_by_key(spreadsheet_key)
  
  ws = None
  worksheet_list = sh.worksheets()
  for worksheet in worksheet_list:
    if worksheet.title == worksheet_name:
      ws = worksheet
      
  if ws is None:
    ws = sh.add_worksheet(title = worksheet_name, rows="1", cols = "1")
    
  set_with_dataframe(ws, dataframe, row=1, col=1, include_index=False, 
                     include_column_header=True, resize=True, allow_formulas=True)

### Create Google Sheet for writing output files if one is not already established

***Warning: you must choose from Options A and B below***.

**Option A**: If you already have a Google Sheet where you store transformed data for analytics, go to that sheet, copy the long ID string from the sheet's URL in a browser, and paste it between the quotes below. Then uncomment the code and run the cell. Do NOT run the code for Option B without commenting it out.

This option is especially important if you have previously linked a reporting dashboard to this Google Sheet and would like to use this ETL process to update that dashboard.

In [ ]:
### Option A Code
GOOGLE_SHEET_KEY =

**Option B**: If you are running this for the first time and do not already have a Google Sheet where you store transformed data for analytics, uncomment and run the cell below to set the GOOGLE_SHEET_KEY variable, which will be used later in the process. Be sure to replace the "Sample Company Analytics" filename with one of your own.

In [ ]:
### Option B Code
# GOOGLE_SHEET_KEY = gc.create('FE_Analytics').id

After executing the cell above, a new spreadsheet with the name you supply will be shown in your sheets list on [sheets.google.com](http://sheets.google.com/). To go directly to the newly created Google Sheet, run the code block below and visit the link that it outputs. You can keep this Sheet open in a separate tab to see the data get updated whenever **write_to_google_sheet** (defined above) is called.

In [ ]:
print('https://docs.google.com/spreadsheets/d/' + GOOGLE_SHEET_KEY)

# SQL

In [ ]:
import numpy as np
import pandas as pd
import os
from glob import glob
from google.colab import files
import sqlalchemy as sql
from datetime import datetime

In [ ]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.0.tar.gz (87 kB)
     |████████████████████████████████| 87 kB 3.6 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp37-cp37m-linux_x86_64.whl size=99977 sha256=e75f14d0229acbe28ef80c04902d1083653cdbe1f6d649966de930fdbbceeedb
  Stored in directory: /root/.cache/pip/wheels/97/d4/df/08cd6e1fa4a8691b268ab254bd0fa589827ab5b65638c010b4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [ ]:
# was working on tamil character but not for 's issue
# import sqlalchemy
# import pandas as pd

# #connect to mysql database
# # engine = sqlalchemy.create_engine('mysql://user:@localhost/db?charset=utf8')
# engine = sqlalchemy.create_engine('mysql://staticsandreports:Ge942idpQogOV602Bfl184@103.73.188.254/zadmin_main_new?charset=utf8mb4')

# conn = engine.connect()

# #read sql into pandas dataframe
# # mysql_statement = """SELECT * FROM table WHERE field LIKE '%part%'; """
# # df = pd.read_sql(mysql_statement, con=conn)

In [ ]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 5.0 MB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=4a5256007b711d77977339e374bd4404c088d40905c39198d1c164dacb88eebd
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [ ]:
#  working on tamil character and some has \'s in the Db iteself so replacing in next lines
import datetime
import mysql.connector

# https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-select.html

cnx = mysql.connector.connect(user=, password=,host=,database =,
                              use_unicode = True)
cursor = cnx.cursor()

# query = ("SELECT first_name, last_name, hire_date FROM employees "
        #  "WHERE hire_date BETWEEN %s AND %s")

query3 = "select merchant_id, restaurant_name,city,state from mt_merchant"

# hire_start = datetime.date(1999, 1, 1)
# hire_end = datetime.date(1999, 12, 31)

cursor.execute(query3)
chk5 = cursor.fetchall()
# below code can be used by commenting above line to check the results..once cursor fetches all nothing is available to print

# for (merchant_id, restaurant_name,city,state) in cursor:
#   print("{},{},{},{}".format(
#     merchant_id,restaurant_name,city,state))

cursor.close()
cnx.close()

In [ ]:
mdf = pd.DataFrame(chk5, columns=['merchant_id', 'restaurant_name','city','state'])

In [ ]:
mdf['restaurant_name'] = mdf['restaurant_name'].str.replace("\\","",regex=True )

In [ ]:
mdf_obj = mdf.select_dtypes(['object'])

In [ ]:
mdf[mdf_obj.columns] = mdf_obj.apply(lambda x: x.astype(str).str.strip())

In [ ]:
mdf[mdf_obj.columns] = mdf_obj.apply(lambda x: x.astype(str).str.title())

In [ ]:


connect_string = 'mysql://'


sql_engine = sql.create_engine(connect_string)

In [ ]:
query = "select * from mt_order"
fedf = pd.read_sql_query(query, sql_engine)

In [ ]:
#status = active by date by location
query2 = "select * from mt_client"
cdf = pd.read_sql_query(query2, sql_engine)

In [ ]:
# query3 = "select * from mt_merchant"
# mdf = pd.read_sql_query(query3, sql_engine)

In [ ]:
# test
# query3 = "select * from mt_merchant"
# chk = pd.read_sql(query3, con=conn)

In [ ]:
query4 = "select * from mt_mobile_broadcast"
mbdf = pd.read_sql_query(query4, sql_engine)

In [ ]:
#not registered are the ones people uninstalled, col status
query5 = "select * from mt_mobile_push_logs"
mpldf = pd.read_sql_query(query5, sql_engine)

In [ ]:
query6 = "select * from mt_user_scratch_card"
scdf = pd.read_sql_query(query6, sql_engine)

In [ ]:
query7 = "select * from mt_referral_history"
rbdf = pd.read_sql_query(query7, sql_engine)

In [ ]:
query8 = "select * from mt_cuisine"
cudf = pd.read_sql_query(query8, sql_engine)

In [ ]:
query9 = "select * from mt_wallet_history"
whdf = pd.read_sql_query(query9, sql_engine)

In [ ]:
query10 = "select * from mt_payment_order"
pgdf = pd.read_sql_query(query10, sql_engine)

In [ ]:
query11 = "select * from mt_user_wallet"
uwdf = pd.read_sql_query(query11, sql_engine)

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 1000)

# Master table of commission from excel "all merchant files"

In [ ]:
def fntdate (y) :
# splitting the date folder name and getting date ranges from the name to get from and to date column in master table
  z = y.split(sep = ' ')
  a = z[0][0:2]
  if z[2]=='to': 
    b = z[3][0:2]
    e = z[1] +' '+z[5]
    f = z[4] +' '+z[5]
  else:
    b = z[2][0:2]
    e = z[3]+' '+z[4] 
    f = z[3]+' '+z[4]
  c = a+ ' ' + z[3] +' '+ z[4]
  d = b+ ' ' + z[3] +' '+ z[4]
  return a,b,e,f
# note: return values needs be accessed as f(y)[0]

In [ ]:
# getting month and from and to date from the file path
def monthndate(path_list) :
  for x in range(len(path_list)) :
    print(path_list[x])
    if path_list[x] in month_list :
      mtdf3['month'] = path_list[x]
      y= path_list[x+1]
      fntdate(y)
      mtdf3['fdate'] =fntdate(y)[0] + ' ' + fntdate(y)[2]
      mtdf3['tdate'] =fntdate(y)[1] + ' ' + fntdate(y)[3]      
     
  # print(mtdf3['month'].unique())
  # print(mtdf3['fdate'].unique())
  # print(mtdf3['tdate'].unique())
  return None
# print(mtdf3['date_range'].unique())

In [ ]:
# getting month and from and to date from the file path for Franchises
def monthndatefr(path_list) :
  for x in range(len(path_list)) :
    print(path_list[x])
    if path_list[x] in month_list :
      mtdf3['month'] = path_list[x]
      y= path_list[x+1]
      # fntdate(y)
      mtdf3['fdate'] ='01' + " " + path_list[x] + " " + path_list[x-1]
      mtdf3['tdate'] ='31' + " " + path_list[x] + " " + path_list[x-1]
     
  print(mtdf3['month'].unique())
  print(mtdf3['fdate'].unique())
  print(mtdf3['tdate'].unique())
  return None
# print(mtdf3['date_range'].unique())

In [ ]:
#2022
# Franchise data consolidation
# PATH = "/content/drive/My Drive/Merchant Payout/2021/Jan 2021/Franchise/Kerala"
PATH = "/content/drive/My Drive/Merchant Payout/2022/Jan/"
# EXT = 'All Merchant*.xlsx'
f_names = ['Commission*.xlsx','All Merchant*.xlsx']
mtdf = pd.DataFrame()
month_list = ['Dec 2021','Jan']
fe_loc = ['Ariyalur','Chalakudy','Chengalpattu','Coonoor','Cuddalore','Dharapuram','Dindigul','Jayamkondam','Kallakurichi',
          'Karaikal','Karaikudi','Karur','karur','Kanyakumari','Kollam','Kottakkal','Kottarakkara','Kozhikode','Kumbakonam','Madurai',
          'Mannargudi','Mayiladuthurai','Nagercoil','Namakkal','Ooty','ooty','Ottanchatram','Palakkad','Palani','Palladam','Parangipettai',
          'Pattukkottai','Perambalur','Perinthalmanna','Pollachi','Sengottai','Sirkali','Sulur','Tambaram','Tenkasi','Theni','Thiruthuraipoondi',
          'Thirukoilure','Thiruvallur','Tindivanam','Tirupathur','Tiruppur','Trichy_Central''Udayarpalayam','Udumalpet',
          'Ulundurpet','Virudhachalam','Arakkonam','Neikarapatti','Sankarapuram','Thiruvarur','Tirur','Valanchery',
          'Virudhachalam']
fran_loc =['Chidambaram','Edappal','Kolappuram','Malappuram','Manjeri','Panruti','Paramathi_Velur','Ramanathapuram','Thiruvarur',
           'Tirur','Valanchery','Panruti','Paramathi_Velur'
           ]
shlist = ["Merchants Type & %","Merchants Commission"]
first_day = "01"
last_day = "31"
# shlist2 = ['Aug 2021','']
# shlist = ["Jan 2019","Feb 2019","Mar 2019","Apr 2019","May 2019","Jun 2019","Jul 2019","Aug 2019","Sep 2019","Oct 2019","Nov 2019","Dec 2019",
          # "Jan 2020","Feb 2020","Mar 2020","Apr 2020","May 2020","Jun 2020","Jul 2020","Aug 2020","Sep 2020","Oct 2020","Nov 2020","Dec 2020",
          # "Jan 2021","Feb 2021","Mar 2021","Apr 2021","May 2021","Jun 2021","Jul 2021","Aug 2021","Sep 2021","Oct 2021","Nov 2021","Dec 2021"]

# for path, subdir, files in os.walk(PATH):
#     for file in glob(os.path.join(path, EXT)):
for path, subdir, files in os.walk(PATH):
  for y in range(len(f_names)):
      for file in glob(os.path.join(path, f_names[y])):
        #df.append(pd.read_csv(file))
        print(file)
        # "/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Chidambaram/Commission Transfer_Chidambaram.xlsx",
        # if file in ("/content/drive/My Drive/Merchant Payout/2022/Jan/02nd to 08th Jan 2022/All Merchant Sale.xlsx" ):        
        # give indent and enable above if and last else to check only on one file
        mtdf2=pd.ExcelFile(file)
        shlist1 = mtdf2.sheet_names
        # mtdf= mtdf.append(mtdf2)
        
        for x in range(len(shlist1)) :
          
          if shlist1[x] in shlist:
              print(shlist1[x])
              # wb = xlrd.open_workbook(file, encoding_override='utf-8')
              # mtdf3 = pd.read_excel(wb)
              # with open(file, encoding="unicode_escape") as f:
              #     pd.read_excel(f)            

              mtdf3 = pd.read_excel(file, sheet_name= shlist1[x] )
              mtdf3['Merchants'] =mtdf3['Merchants'].str.replace("\\","") 
              # mtdf3 is getting extra rows as the file contains formulae, anyway it is importing as blank rows
              # x = first_row_with_all_NaN, to get the first empty row
              if shlist1[x] != "Merchants Type & %":
                # x = 
                # x = mtdf3[mtdf3.isnull().all(axis=1) == True].index.values.tolist()[0]
                # mtdf3 = mtdf3[:x]
                mtdf3= mtdf2.parse(shlist1[x],header=0,na_values=True)
                mtdf3 = mtdf3.loc[mtdf3['Location'].isin(fe_loc)]              
                path_list = file.split(os.sep)
                monthndate(path_list)
                # https://stackoverflow.com/questions/29657384/remove-part-of-string-before-the-last-forward-slash/29657423
                # https://stackoverflow.com/questions/1142851/merge-some-list-items-in-a-python-list
                mtdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]
              elif((shlist1[x] == "Merchants Type & %") & ('Commission Transfer_' in file.rsplit('/',1)[1:3][0])) :
                # 'Commission Transfer_' is format differentiates from TN & Kerala Fran
                print("yes!!!")
                path_list = file.split(os.sep)
                monthndatefr(path_list)
              else:   
                mtdf3 = mtdf3.loc[mtdf3['Location'].isin(fran_loc)]
                monthndatefr(path_list)
                # mtdf3['month'] = month_list[0]
                # mtdf3['fdate'] = first_day + ' ' + month_list[0]
                # mtdf3['tdate'] = last_day + ' ' + month_list[0]
                mtdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]             
              mtdf  = mtdf.append(mtdf3)
              print(x)
        # else:
        #   print("notfound")      


# to download files in to local system
        # from google.colab import files
        # files.download(file)

/content/drive/My Drive/Merchant Payout/2022/Jan/02nd to 08th Jan 2022/All Merchant Sale.xlsx
Merchants Commission

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:51: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

content
drive
My Drive
Merchant Payout
2022
Jan
02nd to 08th Jan 2022
All Merchant Sale.xlsx
1
/content/drive/My Drive/Merchant Payout/2022/Jan/09th to 15th Jan 2022/All Merchant Sale.xlsx
Merchants Commission

content
drive
My Drive
Merchant Payout
2022
Jan
09th to 15th Jan 2022
All Merchant Sale.xlsx
1
/content/drive/My Drive/Merchant Payout/2022/Jan/16th to 22nd Jan 2022/All Merchant Sale.xlsx
Merchants Commission

content
drive
My Drive
Merchant Payout
2022
Jan
16th to 22nd Jan 2022
All Merchant Sale.xlsx
1
/content/drive/My Drive/Merchant Payout/2022/Jan/23rd to 29th Jan 2022/All Merchant Sale.xlsx
Merchants Commission

content
drive
My Drive
Merchant Payout
2022
Jan
23rd to 29th Jan 2022
All Merchant Sale.xlsx
1
/content/drive/My Drive/Merchant Payout/2022/Jan/30th Jan to 05th Feb 2022/All Merchant Sale.xlsx
Merchants Commission

content
drive
My Drive
Merchant Payout
2022
Jan
30th Jan to 05th Feb 2022
All Merchant Sale.xlsx
1
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Chidambaram/Commission Transfer_Chidambaram.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Chidambaram
Commission Transfer_Chidambaram.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Nagercoil & Kanyakumari/Commission Transfer_Nagercoil & Kanyakumari.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Nagercoil & Kanyakumari
Commission Transfer_Nagercoil & Kanyakumari.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Panruti/Commission Transfer_Panruti.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Panruti
Commission Transfer_Panruti.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
3
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Paramathi Velur/Commission Transfer_Paramathi Velur.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Paramathi Velur
Commission Transfer_Paramathi Velur.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Ramanathapuram/Commission Transfer_Ramanathapuram.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Ramanathapuram
Commission Transfer_Ramanathapuram.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Thiruthuraipoondi/Commission Transfer_Thiruthuraipoondi.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Thiruthuraipoondi
Commission Transfer_Thiruthuraipoondi.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Thiruvarur/Commission Transfer_Thiruvarur.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Thiruvarur
Commission Transfer_Thiruvarur.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Virudhachalam & Ulundurpet/Commission Transfer_Virudhachalam&Ulundurpet (5).xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet (5).xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Virudhachalam & Ulundurpet/Commission Transfer_Virudhachalam&Ulundurpet (4).xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet (4).xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Virudhachalam & Ulundurpet/Commission Transfer_Virudhachalam&Ulundurpet (3).xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet (3).xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Virudhachalam & Ulundurpet/Commission Transfer_Virudhachalam&Ulundurpet (2).xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet (2).xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Virudhachalam & Ulundurpet/Commission Transfer_Virudhachalam&Ulundurpet (1).xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet (1).xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Virudhachalam & Ulundurpet/Commission Transfer_Virudhachalam&Ulundurpet.xlsx
Merchants Type & %
yes!!!

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5
/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Kerala/Commission Transfer.xlsx
Merchants Type & %

content
drive
My Drive
Merchant Payout
2022
Jan
Franchise
Tamilnadu
Virudhachalam & Ulundurpet
Commission Transfer_Virudhachalam&Ulundurpet.xlsx
['Jan']
['01 Jan 2022']
['31 Jan 2022']
5

In [ ]:
mtdf= mtdf.loc[mtdf['Merchants'].notna()]

In [ ]:
mtdf.sort_values(['Merchant Id'],ascending=True,inplace= True )

In [ ]:
mtdf['Merchants'] = mtdf['Merchants'].apply(lambda x : ' '.join(x.split()))

In [ ]:
# check if without the below whether the next is executing and giving correct result for below code
# mtdf[mtdf['Merchants'] == 'A2B - Adyar Anandha Bhavan'] as there is space in some files
# Also it might not have been working as lambda was using x before.. worked only when the str.title is commented and ran

mtdf['Method'] = mtdf['Method'].fillna('credit/cashncarry')
mtdf['Taxable'] = mtdf['Taxable'].fillna('No')
mtdf['AS/Non AS'] = mtdf['AS/Non AS'].fillna('Non AS')
mtdf['Merchant Id'] = mtdf.groupby(['Merchants','Location'])['Merchant Id'].transform('first')

In [ ]:
mtdf['Merchant Id'] = mtdf['Merchant Id'].fillna('Empty')
mtdf['Client Offer % from FE + Franchisee'] = mtdf['Client Offer % from FE + Franchisee'].fillna('none')

In [ ]:
mtdf_obj = mtdf.select_dtypes(['object'])

In [ ]:
# to trim front and back whitespaces for object data types
# Also change all columns to title
# mtdf_obj = ['Merchants','Location','Method','Taxable']
# if doesnt get applied execute only after = and then add back left part
mtdf[mtdf_obj.columns] = mtdf_obj.apply(lambda x: x.astype(str).str.strip())

In [ ]:
mtdf[mtdf_obj.columns] = mtdf_obj.apply(lambda x: x.astype(str).str.title())
# the above code was creating issues with unicode ('s) turning to caps so using below code to remove spaces as well
# mtdf['Merchants'] = mtdf['Merchants'].str.split().apply(lambda x: [el.capitalize() for el in x]).str.join(' ')

# import string
# df2['Task'].apply(lambda x: string.capwords(x))
# the above code can be used only to covert to capwords but doesn't work on escape characters

In [ ]:
#  to convert to capwords but also works escape characters

# mtdf['Merchants'] = mtdf['Merchants'].str.split().apply(lambda x: [el.capitalize() for el in x]).str.join(' ')

In [ ]:
# not required to drop based on subset as we will select the rows based on dates
mtdf.drop_duplicates(inplace= True)

In [ ]:
# unable to sort as there are Nan and str, so had to select notna
mtdf4 = mtdf[mtdf['Location'].notna()]

In [ ]:
# sorted and shown as arrary for better viewing
# np.asarray(sorted(mtdf4['Location'].unique()))

In [ ]:
mtdf4['fdate'] = pd.to_datetime(mtdf4['fdate'], format='%d %b %Y' )
mtdf4['tdate'] = pd.to_datetime(mtdf4['tdate'], format='%d %b %Y' )

In [ ]:
mtdf5 = pd.melt(mtdf4,id_vars= ['% on Merchant','% on Customer','Merchants','Location','Concat of merchant+Location',
                       'Method','Taxable','month','Client Offer % from FE + Franchisee','file_name',
                       'Paid to Merchant','AS/Non AS','Merchant Id'], value_name= 'Date')

In [ ]:
# https://stackoverflow.com/questions/39997063/how-can-i-add-rows-for-all-dates-between-two-columns?answertab=votes#tab-top
# filling the data between fdate and tdate
# 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html
mtdf5.Date = pd.to_datetime(mtdf5.Date)
mtdf5.set_index('Date', inplace= True)
mtdf5.drop('variable',axis=1,inplace= True)

In [ ]:
mtdf5.fillna({'% on Merchant':0, '% on Customer':0, 'Merchants':'dummy', 'Location':'dummy',
       'Concat of merchant+Location':'dummy', 'Method':'cashncarry/credit', 'Taxable':'No', 
        'Client Offer % from FE + Franchisee':0, 'Paid to Merchant':'No'},inplace=True)

In [ ]:
uni_ind= ['% on Merchant','% on Customer','Merchants','Location','Method','Taxable']
mtdf6 = mtdf5[uni_ind]

In [ ]:
mtdf6 = mtdf6.reset_index().drop_duplicates().set_index('Date')

In [ ]:
mtdf6.sort_index(inplace=True)

In [ ]:
mtdf7 = mtdf6.groupby(uni_ind , dropna= False).resample('D').ffill().reset_index(
    level=(0,1,2,3,4,5),drop= True).reset_index()

In [ ]:
mtdf7.drop_duplicates(inplace= True)

In [ ]:
mtdf7.set_index('Date', inplace= True)

In [ ]:
df_add = mtdf7.groupby(uni_ind).resample('MS').bfill().reset_index(level=(0,1,2,3,4,5),drop= True).reset_index()

In [ ]:
mtdf8 = mtdf7.reset_index().append(df_add)

In [ ]:
mtdf8.drop_duplicates( inplace= True, ignore_index= False , keep= 'first')

In [ ]:
mtdf8.set_index('Date',inplace=True)

In [ ]:
mtdf9 = mtdf8.groupby(uni_ind , dropna= False).resample('D').ffill().reset_index(
    level=(0,1,2,3,4,5),drop= True).reset_index()

In [ ]:
mtdf9.fillna({'% on Merchant':0, '% on Customer':0}, inplace= True)

In [ ]:
# this removes the method variation..
mtdf9.drop_duplicates(subset=['Date','Merchants'],inplace = True)

# Merchant Payout Transformations

In [ ]:
fedf2 = fedf[['order_id','merchant_id','trans_type','payment_type','offer_paid_by','status','delivery_date',
              'sub_total','voucher_amount','delivery_charge','packaging','taxable_total','total_w_tax',
              'wallet_amount','discounted_amount','sales_tax','percent_commision','customer_commission',
              'total_commission','merchant_earnings',
              ]]

In [ ]:
fedf3 = pd.merge(fedf2[fedf2['status']=='successful'],
                 mdf[['merchant_id','restaurant_name','city','state']], on='merchant_id')

In [ ]:
fedf3['offer_paid_by'].fillna("NoOffer",inplace= True)
fedf3['FE_Offer'] = np.where(fedf3.offer_paid_by == 'flyereats',fedf3.discounted_amount,0)
fedf3['Merchant_Offer'] = np.where(fedf3.offer_paid_by == 'merchant',fedf3.discounted_amount,0)

In [ ]:
# tried the above if then else in lambda but some error
# chk3['new2'] = chk3['discounted_amount'].apply(lambda x :0 if x['offer_paid_by']!='flyereats' else x['discounted_amount'])

In [ ]:
fedf_obj = fedf3[['restaurant_name','city','state']]
fedf3[fedf_obj.columns] = fedf_obj.apply(lambda x: x.str.strip())
# fedf3[fedf_obj.columns] fedf_obj.apply(lambda x: x.astype(str).str.title())
# cannot do all objects as order_id is number but stored in text format.. there is another code for sorting both text n num
# mtdf[mtdf_obj.columns] = mtdf_obj.apply(lambda x: x.astype(str).str.title())

In [ ]:
fedf3.fillna({'percent_commission':0, 'customer_commission':0}, inplace= True)

In [ ]:
fedf3['restaurant_name']=fedf3['restaurant_name'].str.title()

In [ ]:
fedf3['restaurant_name'] = fedf3['restaurant_name'].apply(lambda x : ' '.join(x.split()))

In [ ]:
fedf3['delivery_date'] = pd.to_datetime(fedf3['delivery_date'])

In [ ]:
# merging with all merchants file, merchant commission to get the merchant and customer commission
fedf4 = pd.merge(fedf3,mtdf9, how = 'left', left_on=['restaurant_name','city','delivery_date'],
                 right_on= ['Merchants','Location','Date'], indicator = True)

In [ ]:
# getting data based on location(from both mt_order and all merchant file, to address same resturant in multiple locations),
#  delivery month and credit method
# (fedf4['city'] == 'Pollachi') & (fedf4['Location'] == 'Pollachi')& (fedf4['Method'] == 'Credit')
fedf5= fedf4[ (fedf4['delivery_date'].dt.year == 2022) & (fedf4['delivery_date'].dt.month == 1) ]

## Edge cases on subtotal, percentage, tax etc

In [ ]:
# ex_locs = ['Karur'] # then add packaging to subtotal
# tdf[tdf['restaurant_name'].str.contains('Hotel Karur Al')]
fedf5.loc[(fedf5['city']== 'Karur'),
        'sub_total'] = fedf5['sub_total'] + fedf5['taxable_total']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [ ]:
# tdf = fedf4.copy()
# tdf = fedf5.copy()

In [ ]:
fedf5 = fedf5.rename(columns={'% on Merchant':'merchant_comm','% on Customer':'customer_comm'})

In [ ]:
# def calc(fedf5,customer_comm,merchant_comm) :
fedf5['c_item_cost_after_cust_comm'] = fedf5['sub_total']/(1 + fedf5['customer_comm'])
fedf5['c_item_cost_after_merch_comm'] = fedf5['c_item_cost_after_cust_comm'] - (fedf5['c_item_cost_after_cust_comm']*fedf5['merchant_comm'] )

# fedf5['c_item_merch_payot'] = fedf5['c_item_cost_after_cust_comm'] - (fedf5['c_item_cost_after_cust_comm']*(fedf5['merchant_comm']/100))
fedf5['c_fe_comm'] = fedf5['sub_total'] - fedf5['c_item_cost_after_merch_comm'] 
# gst should be on only merchant side commission but not sure why it is on both merchant side + customer side commission
fedf5.loc[fedf5['Taxable'] == 'Yes','gst'] = (fedf5['sub_total'] - fedf5['c_item_cost_after_merch_comm'] )*0.18
fedf5.fillna({'gst':0},inplace=True)
# fedf5['c_sales_tax'] = ( fedf5['c_ite'])*0.05
fedf5['c_tot_merch_payot_M1'] = fedf5['c_item_cost_after_merch_comm'] + fedf5['packaging'] + fedf5['taxable_total']  - fedf5['gst'] 
fedf5 =fedf5.round({'c_item_cost_after_cust_comm':2,'c_item_cost_after_merch_comm':2,'c_fe_comm':2,'gst':2, 
                'c_tot_merch_payot_M1':2,'c_tot_merch_payot':2})
  
  # return 
# fedf5['c_m_comm'] = fedf5['c_original_cost'] - fedf5['c_item_merch_payot']
# fedf5['c_c_comm'] = fedf5['sub_total'] - fedf5['c_original_cost']
# df.fillna({'x':0, 'y':0}, inplace=True)
# fedf5['gst'] = fedf5['c_fe_comm']*fedf5['sales_tax']
# fedf5['c_tot_merch_payot_M2'] = fedf5['']



# fedf5['c_original_cost'] = fedf5['c_original_cost'].round(2)
# fedf5
# tst['calc_total_commission'] = fedf5

In [ ]:
# # adding karur location hotel karur Alagar taxable total to fe comm
# cond2 = [(fedf5['city']== 'Karur') & (fedf5['restaurant_name']=='Hotel Karur Alagar')]
# fedf5['c_fe_comm'] = np.where((fedf5['city']== 'Karur') & (fedf5['restaurant_name']=='Hotel Karur Alagar'),
#  fedf5['c_fe_comm']+fedf5['taxable_total'])
fedf5.loc[(fedf5['city']== 'Karur') & (fedf5['restaurant_name']=='Hotel Karur Alagar'),
        'c_fe_comm'] = fedf5['c_fe_comm'] + fedf5['taxable_total']

In [ ]:
# fedf5[(fedf5['city']== 'Karur') & (fedf5['restaurant_name']=='Hotel Karur Alagar')]

In [ ]:
# fedf5[fedf5['order_id'] == 343312]

In [ ]:
# need to sort out the below error by changing the function to loc
# https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy 
# look from Returning a view versus a copy
# calc(fedf5,'customer_comm','merchant_comm')

In [ ]:
# f = lambda x: x.sum() if np.issubdtype(x.dtype, np.number)  else ', '.join(x)
# cols = fedf5.columns[~fedf5.columns.isin(['city','delivery_date','Merchants'])].tolist()
# pd.pivot_table (fedf5, index= ['city','delivery_date','Merchants'],aggfunc=f).reindex(columns=cols).reset_index()

# https://stackoverflow.com/questions/51361426/keep-pandas-dataframe-columns-and-their-order-in-pivot-table

# Driver payout calc n mapping

In [ ]:
# import os

# PATH = "/content/drive/My Drive/Driver Payout New/"
# shlist = ["Drivers Order Entry"]

# # for root, subdirs, files in os.walk(PATH):
# for path, directories, files in os.walk(PATH):
#     for file in files:
#         if file.endswith(".xlsx"):
#              print(os.path.join(path, file))

#              mtdf2=pd.ExcelFile(file)
#              shlist1 = mtdf2.sheet_names
#              # mtdf= mtdf.append(mtdf2)
        
#              for x in range(len(shlist1)) :
          
#                if shlist1[x] in shlist:
#                 print(shlist1[x])

In [ ]:
#2022
# Franchise data consolidation
# PATH = "/content/drive/My Drive/Merchant Payout/2021/Jan 2021/Franchise/Kerala"
PATH = "/content/drive/My Drive/Driver Payout New/2022/"
# EXT = 'All Merchant*.xlsx'
f_names = ['*Driver Payout_*.*'] # .xlsx .gsheet 
dpdf = pd.DataFrame()
shlist = ["Drivers Order Entry"]

for path, subdir, files in os.walk(PATH):
  for y in range(len(f_names)):
      for file in glob(os.path.join(path, f_names[y])):
        print(file)
        # "/content/drive/My Drive/Merchant Payout/2022/Jan/Franchise/Tamilnadu/Chidambaram/Commission Transfer_Chidambaram.xlsx",
        if file in ("/content/drive/My Drive/Driver Payout New/2022/New Jan 2022/New Driver Payout_Jan 2022.gsheet",
                    "/content/drive/My Drive/Driver Payout New/2022/Jan 2022/New Driver Payout_Jan 2022.xlsx" ):        
        # give indent and enable above if and last else to check only on one file
          #  to split the file to filename and file_Extension
          filename, file_extension = os.path.splitext(file)
          if file_extension == '.xlsx' :
            dpdf2=pd.ExcelFile(file)


            # dpdf2 = pd.read_csv(file)

            shlist1 = dpdf2.sheet_names
          # dpdf= dpdf.append(dpdf2)
          
            for x in range(len(shlist1)) :
              
              if shlist1[x] in shlist:
                  print(shlist1[x])

                  dpdf3 = pd.read_excel(file, sheet_name= shlist1[x] )
                  dpdf3 = dpdf3[~dpdf3['Driver Name '].isnull()]

                  dpdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]             

          elif file_extension == '.gsheet' :
            
            # https://stackoverflow.com/questions/19611729/getting-google-spreadsheet-csv-into-a-pandas-dataframe
            sheet_id = "1a-sMs0ltbSI8fk0RiuVGogY7KSTNDVMCbY2BaUyYoNw"
            # sheet_name = "Drivers Order Entry"
            # url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
            dpdf3 = pd.read_csv('https://docs.google.com/spreadsheets/d/' + 
                   sheet_id +
                   '/export?gid=199603026&format=csv',
                   # Set first column as rownames in data frame
                  #  index_col=0,
                   index_col=False,
                   # Parse column values to datetime
                   parse_dates=['date']
                  )
            dpdf3 = dpdf3[~dpdf3['Driver Name '].isnull()]

          dpdf  = dpdf.append(dpdf3)
          print(len(dpdf3.index))
          print(file)
        else:
          print("not to be used")      


# to download files in to local system
        # from google.colab import files
        # files.download(file)

/content/drive/My Drive/Driver Payout New/2022/Jan 2022/New Driver Payout_Jan 2022.xlsx
Drivers Order Entry

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

6546
/content/drive/My Drive/Driver Payout New/2022/Jan 2022/New Driver Payout_Jan 2022.xlsx
/content/drive/My Drive/Driver Payout New/2022/New Jan 2022/Copy of New Driver Payout_Jan 2022.xlsx
not to be used
/content/drive/My Drive/Driver Payout New/2022/New Jan 2022/New Driver Payout_Jan 2022.gsheet
11151
/content/drive/My Drive/Driver Payout New/2022/New Jan 2022/New Driver Payout_Jan 2022.gsheet
/content/drive/My Drive/Driver Payout New/2022/New Jan 2022/Old/New Driver Payout_Jan 2022.xlsx
not to be used
/content/drive/My Drive/Driver Payout New/2022/Feb 2022/New Driver Payout_Feb 2022.gsheet
not to be used

In [ ]:
# # to get all files from a path recursively
# from pathlib import Path
# PATH = "/content/drive/My Drive/Driver Payout New/2022/"
# for path in Path(PATH).rglob('*.*'):
#     print(path.name)

In [ ]:
dpdf = dpdf.drop_duplicates()

In [ ]:
dpdf['Order_id'] = dpdf['Order_id'].astype(int).astype(str)

In [ ]:
dpdf.rename(columns=lambda x:x.strip(),inplace=True)

In [ ]:
dpdf.rename(columns={'date' : 'Date_driver'},inplace=True)

In [ ]:
fedf5['order_id'] = fedf5['order_id'].astype(str)

In [ ]:
tdf = pd.merge(fedf5, dpdf,
               left_on='order_id',right_on='Order_id',how= 'left')

# Aggregation

In [ ]:
tdf.sample(2)

,order_id,merchant_id,trans_type,payment_type_x,offer_paid_by,status,delivery_date,sub_total_x,voucher_amount,delivery_charge,packaging_x,taxable_total_x,total_w_tax,wallet_amount,discounted_amount,sales_tax,percent_commision,customer_commission,total_commission,merchant_earnings,restaurant_name,city,state,FE_Offer,Merchant_Offer,Date,merchant_comm,customer_comm,Merchants,Location,Method,Taxable,_merge,c_item_cost_after_cust_comm,c_item_cost_after_merch_comm,c_fe_comm,gst,c_tot_merch_payot_M1,Date_driver,Driver Name,locations,Order_id,Ruchi Briyani,Item_Name,Qty,driver_id,payment_type_y,sub_total_y,taxable_total_y,packaging_y,Delivery Fee,Total_Amount,Drivers Commission,Final_Amount_Collection,F/P,cash on carry,Extra Ride/ Bonus / Daily allowance,Long Ride,Petrol,Other Expense,Edit Order Excess Amount,Remarks,file_name,Hotels,Extra Ride,Rainy Fee,Special Bonus Amount,Other Expenses,Final Amount Collection,Per Order Amount,Daily Allowances,Order Count Incentive
11740,465395,558,delivery,cod,NoOffer,successful,2022-01-04,195.0,0.0,37.0,0.0,0.0,232.000,0.0,0.0,0.0,0.0,25.0,39.0,156.0,Avm Chips & Cafe,Udumalpet,Tamilnadu,0.0,0.0,2022-01-04,0.0,0.25,Avm Chips & Cafe,Udumalpet,Credit,No,both,156.0,156.00,39.00,0.0,156.00,2022-01-04,UDT_Bhuvanesh Waran,Udumalpet,465395,AVM Chips & Cafe,"Veg Noodles, Mini Veg Puff, Oreo Milkshake",2001-01-01 00:00:00,1515.0,cod,195.0,0.0,0.0,37.0,232.000,40,192,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,Jan 2022/New Driver Payout_Jan 2022.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6758,469483,175,delivery,cod,NoOffer,successful,2022-01-09,1026.9,0.0,26.0,48.9,48.9,1105.545,0.0,0.0,0.0,10.0,0.0,97.8,978.0,Dindigul Velu Briyani,Karur,Tamilnadu,0.0,0.0,2022-01-09,0.1,0.00,Dindigul Velu Briyani,Karur,Credit,No,both,1026.9,924.21,102.69,0.0,1022.01,2022-01-09,KA_Mg Arun,Karur,469483,Dindigul Velu Briyani,"Chicken 65 Briyani, Mutton Liver, Butter Naan,...","1, 1, 2, 1, 2",228.0,cod,978.0,48.9,48.9,26.0,1105.545,30,1075.545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 2022/New Driver Payout_Jan 2022.xlsx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tdf.columns

Index(['order_id', 'merchant_id', 'trans_type', 'payment_type_x',
       'offer_paid_by', 'status', 'delivery_date', 'sub_total_x',
       'voucher_amount', 'delivery_charge', 'packaging_x', 'taxable_total_x',
       'total_w_tax', 'wallet_amount', 'discounted_amount', 'sales_tax',
       'percent_commision', 'customer_commission', 'total_commission',
       'merchant_earnings', 'restaurant_name', 'city', 'state', 'FE_Offer',
       'Merchant_Offer', 'Date', 'merchant_comm', 'customer_comm', 'Merchants',
       'Location', 'Method', 'Taxable', '_merge',
       'c_item_cost_after_cust_comm', 'c_item_cost_after_merch_comm',
       'c_fe_comm', 'gst', 'c_tot_merch_payot_M1', 'Date_driver',
       'Driver Name', 'locations', 'Order_id', 'Ruchi Briyani', 'Item_Name',
       'Qty', 'driver_id', 'payment_type_y', 'sub_total_y', 'taxable_total_y',
       'packaging_y', 'Delivery Fee', 'Total_Amount', 'Drivers Commission',
       'Final_Amount_Collection', 'F/P', 'cash on carry',
       'Extra Ride/ Bonus / Daily allowance', 'Long Ride', 'Petrol',
       'Other Expense', 'Edit Order Excess Amount', 'Remarks', 'file_name',
       'Hotels', 'Extra Ride', 'Rainy Fee', 'Special Bonus Amount',
       'Other Expenses', 'Final Amount Collection', 'Per Order Amount',
       'Daily Allowances', 'Order Count Incentive'],
      dtype='object')

In [ ]:
# cols1 = tdf.columns[~tdf.columns.isin(['city', 'delivery_date', 'Merchants','order_id','trans_type',
#                                        'payment_type', 'offer_paid_by', 'status','percent_commision', 'customer_commission',
#                                        'restaurant_name', 'state', 'Location','Concat of merchant+Location',
#                                        'customer_comm','merchant_comm','Method', 'Taxable', 'Unnamed: 7','month','fdate',
#                                        'tdate'])]

In [ ]:
cols2 =['merchant_id', 'sub_total', 'voucher_amount', 'delivery_charge',
       'packaging', 'taxable_total', 'total_w_tax', 'wallet_amount',
       'discounted_amount', 'sales_tax', 'total_commission',
       'merchant_earnings', 'c_item_cost_after_cust_comm',
       'c_item_cost_after_merch_comm', 'c_fe_comm', 'gst', 'c_tot_merch_payot_M1',
        'customer_comm','merchant_comm','order_id','FE_Offer','Merchant_Offer','Drivers Commission',
        'Final_Amount_Collection','cash on carry',
       'Extra Ride/ Bonus / Daily allowance', 'Long Ride', 'Petrol',
       'Other Expense', 'Edit Order Excess Amount', 
       'Hotels', 'Extra Ride', 'Rainy Fee', 'Special Bonus Amount',
       'Other Expenses', 'Final Amount Collection', 'Per Order Amount',
       'Daily Allowances', 'Order Count Incentive' ]

In [ ]:
# https://stackoverflow.com/questions/16860172/python-pandas-pivot-table-silently-drops-indices-with-nans
#  to fill nan with another value and also replace back with nan after pivot
tdf['Method'] = tdf['Method'].fillna('credit/cashncarry')

In [ ]:
# dropping duplicate order_id got created in merchant payout due to method was different in different files
# ex order id = 343726 merchant = Chennai Express-Veg & Nonveg
# ex2 :mtdf[mtdf['Merchants']=='Tn 94 (Snacks & Pizza)']
tdf.drop_duplicates(subset= 'order_id',keep ='first',inplace=True)

In [ ]:
# fedf6 = 
fedf6 = pd.pivot_table (tdf, index= ['state','city','delivery_date','Merchants','payment_type','Method'],
                        values= cols2,
                        aggfunc={cols2[1]:np.sum,cols2[2]:np.sum,cols2[3]:np.sum,cols2[4]:np.sum,cols2[5]:np.sum,cols2[6]:np.sum,
                                 cols2[7]:np.sum,cols2[8]:np.sum,cols2[9]:np.sum,cols2[10]:np.sum,cols2[11]:np.sum,
                                 cols2[12]:np.sum,cols2[13]:np.sum,cols2[14]:np.sum,cols2[15]:np.sum,cols2[16]:np.sum,
                                 cols2[0]:np.mean,cols2[17]:np.mean,cols2[18]:np.mean,cols2[19]:np.count_nonzero,
                                 cols2[20]:np.sum,cols2[21]:np.sum,cols2[22]:np.sum,cols2[23]:np.sum,cols2[24]:np.sum,
                                 cols2[25]:np.sum,cols2[26]:np.sum,cols2[27]:np.sum,cols2[28]:np.sum,cols2[29]:np.sum,
                                 }).reindex(columns=cols2).reset_index()

## testing

In [ ]:
# & (tdf['city']=='Pollachi')  restaurant_name
not_mapped = tdf[(tdf['c_tot_merch_payot_M1'].isna()) & (tdf['delivery_date'].dt.day <30 )]

In [ ]:
not_mapped

In [ ]:
np = not_mapped.groupby(['merchant_id','restaurant_name','city']).size().reset_index(name = 'Freq')

In [ ]:
# np.asarray
(sorted(mtdf7[mtdf7['Location']=='Pollachi']['Merchants'].unique()))

### Sharing offer

In [ ]:
mdf.sample(2)

In [ ]:
mdf[mdf['restaurant_name'].isin(['Pizza Land','Burger From Heaven'])]

In [ ]:
# to serach by a partial string, also if there are blanks boolean fails, so na is used. in this case not required
# mdf[(mdf['city']=='Pollachi') & (mdf['restaurant_name'].str.contains("Burger",na=False))]

In [ ]:
fedf3.sample(2)

# Location wise cash and carry merchants with high orders

In [ ]:
tdf.sample(2)

In [ ]:
chk = pd.pivot_table(tdf, index= ['Location','Merchants'], columns= 'Method',values='order_id',aggfunc='count').reset_index()

# Duplicate import cell blocks

In [ ]:
# Franchise data consolidation
# PATH = "/content/drive/My Drive/Merchant Payout/2021/Jan 2021/Franchise/Kerala"
PATH = "/content/drive/My Drive/Merchant Payout/2021/Sep 2021/"
# EXT = 'All Merchant*.xlsx'
f_names = ['Commission*.xlsx','All Merchant*.xlsx']
mtdf = pd.DataFrame()
month_list = ['Sep 2021','Oct 2021']
fe_loc = ['Ariyalur','Chalakudy','Chengalpattu','Coonoor','Cuddalore','Dharapuram','Dindigul','Jayamkondam','Kallakurichi',
          'Karaikal','Karaikudi','Karur','karur','Kollam','Kottakkal','Kottarakkara','Kozhikode','Kumbakonam','Madurai',
          'Mannargudi','Mayiladuthurai','Namakkal','Ooty','ooty','Ottanchatram','Palakkad','Palani','Palladam','Parangipettai',
          'Pattukkottai','Perambalur','Perinthalmanna','Pollachi','Sengottai','Sirkali','Sulur','Tambaram','Tenkasi','Theni',
          'Thirukoilure','Thiruvallur','Tindivanam','Tirupathur','Tiruppur','Trichy_Central''Udayarpalayam','Udumalpet',
          'Ulundurpet','Virudhachalam','Arakkonam','Neikarapatti',
          'Sankarapuram','Thiruvarur','Tirur','Valanchery','Virudhachalam']
fran_loc =['Chidambaram','Edappal','Kolappuram','Malappuram','Manjeri','Panruti','Paramathi_Velur','Ramanathapuram','Thiruvarur',
           'Tirur','Valanchery','Panruti','Paramathi_Velur'
           ]
shlist = ["Merchants Type & %","Merchants Commission"]
first_day = "01"
last_day = "30"
# shlist2 = ['Aug 2021','']
# shlist = ["Jan 2019","Feb 2019","Mar 2019","Apr 2019","May 2019","Jun 2019","Jul 2019","Aug 2019","Sep 2019","Oct 2019","Nov 2019","Dec 2019",
          # "Jan 2020","Feb 2020","Mar 2020","Apr 2020","May 2020","Jun 2020","Jul 2020","Aug 2020","Sep 2020","Oct 2020","Nov 2020","Dec 2020",
          # "Jan 2021","Feb 2021","Mar 2021","Apr 2021","May 2021","Jun 2021","Jul 2021","Aug 2021","Sep 2021","Oct 2021","Nov 2021","Dec 2021"]

# for path, subdir, files in os.walk(PATH):
#     for file in glob(os.path.join(path, EXT)):
for path, subdir, files in os.walk(PATH):
  for y in range(len(f_names)):
      for file in glob(os.path.join(path, f_names[y])):
        #df.append(pd.read_csv(file))
        print(file)
        mtdf2=pd.ExcelFile(file)
        shlist1 = mtdf2.sheet_names
        # mtdf= mtdf.append(mtdf2)
        
        for x in range(len(shlist1)) :
          
          if shlist1[x] in shlist:
              print(shlist1[x])
              mtdf3 = pd.read_excel(file, sheet_name= shlist1[x] )
              # mtdf3 is getting extra rows as the file contains formulae, anyway it is importing as blank rows
              # x = first_row_with_all_NaN, to get the first empty row
              if shlist1[x] != "Merchants Type & %":
                x = mtdf3[mtdf3.isnull().all(axis=1) == True].index.values.tolist()[0]
                mtdf3 = mtdf3[:x]
                mtdf3 = mtdf3.loc[mtdf3['Location'].isin(fe_loc)]              
                path_list = file.split(os.sep)
                monthndate(path_list)
                # https://stackoverflow.com/questions/29657384/remove-part-of-string-before-the-last-forward-slash/29657423
                # https://stackoverflow.com/questions/1142851/merge-some-list-items-in-a-python-list
                mtdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]
              else: 
                mtdf3 = mtdf3.loc[mtdf3['Location'].isin(fran_loc)]
                
                mtdf3['month'] = month_list[1]
                mtdf3['fdate'] = first_day + ' ' + month_list[1]
                mtdf3['tdate'] = last_day + ' ' + month_list[1]
                mtdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]             
              mtdf  = mtdf.append(mtdf3)
              print(x)
              


# to download files in to local system
        # from google.colab import files
        # files.download(file)

/content/drive/My Drive/Merchant Payout/2021/Sep 2021/Franchise/Kerala/Commission Transfer.xlsx
Merchants Type & %
43
/content/drive/My Drive/Merchant Payout/2021/Sep 2021/Franchise/Tamilnadu/Panruti/Commission Transfer_Panruti.xlsx
Merchants Type & %
3
/content/drive/My Drive/Merchant Payout/2021/Sep 2021/Franchise/Tamilnadu/Chidambaram/Commission Transfer_Chidambaram.xlsx
Merchants Type & %
8
/content/drive/My Drive/Merchant Payout/2021/Sep 2021/Franchise/Tamilnadu/Thiruvarur/Commission Transfer_Thiruvarur.xlsx
Merchants Type & %
35
/content/drive/My Drive/Merchant Payout/2021/Sep 2021/Franchise/Tamilnadu/Ramanathapuram/Commission Transfer_Ramanathapuram.xlsx
Merchants Type & %
5
/content/drive/My Drive/Merchant Payout/2021/Sep 2021/Franchise/Tamilnadu/Paramathi Velur/Commission Transfer_Paramathi Velur.xlsx
Merchants Type & %
17
/content/drive/My Drive/Merchant Payout/2021/Sep 2021/05th to 11th Sep 2021/All Merchant Sale.xlsx
Merchants Commission

IndexError: ignored

# sample df to test

In [ ]:
# importing pandas as pd
import pandas as pd
  
# importing numpy as np
import numpy as np
  
# setting the seed to re-create the dataframe
np.random.seed(25)
  
# Creating a 5 * 4 dataframe 
df = pd.DataFrame(np.random.random([5, 4]), columns =["A", "B", "C", "D"])
  
# Print the dataframe
df

In [ ]:
#  to round each columns in one go
df.round({"A":1, "B":2, "C":3, "D":4})
df.fillna({'x':0, 'y':0}, inplace=True)

# Daily orders

In [ ]:
fedf.tail(2)

In [ ]:
mdf.sample(2)

In [ ]:

fedf['delivery_date']= pd.to_datetime(fedf['delivery_date'])
fedf['month'] = pd.to_datetime(fedf['delivery_date'], format='%b-%y').dt.to_period('M')
fedf2 = fedf[(fedf['delivery_date'].isin(['2021-08-15','2021-08-14']))]

In [ ]:
fedf2['delivery_date'].value_counts()

In [ ]:
fedf3 = pd.merge(fedf2[['order_id','merchant_id','status','client_contact_no']],mdf[['merchant_id','city']],on = 'merchant_id')

In [ ]:
fedf3['status'].unique()

In [ ]:
fedf4= fedf3[fedf3['status'] == 'successful']

In [ ]:
fedf4.sample(3)

In [ ]:
pd.pivot_table(fedf4, index= ['city'],values='order_id', aggfunc= 'count')

# Merchants by location and status

In [ ]:
mdf.sample(3)

In [ ]:
mdf2 = mdf[['city','state','merchant_id','restaurant_name','status','contact_phone','percent_commision','customer_commission','date_created','date_modified','date_activated','last_login',]]

# Customer churn

In [ ]:
from datetime import date

In [ ]:
fedf2 = pd.merge(fedf[fedf['status']=='successful'],
                 mdf[['merchant_id','restaurant_name','city','state']], on='merchant_id')

In [ ]:
fedf2.sample(2)

,order_id,merchant_id,client_id,json_details,trans_type,payment_type,sub_total,tax,taxable_total,total_w_tax,status,stats_id,viewed,delivery_charge,delivery_date,delivery_time,delivery_asap,delivery_instruction,voucher_code,voucher_amount,voucher_type,voucher_rate,cc_id,date_created,date_modified,ip_address,order_change,payment_provider_name,discounted_amount,discount_percentage,percent_commision,total_commission,commision_ontop,merchant_earnings,packaging,cart_tip_percentage,cart_tip_value,card_fee,donot_apply_tax_delivery,donot_apply_tax_packaging_charge,order_locked,request_from,mobile_cart_details,points_discount,apply_food_tax,order_id_token,admin_viewed,merchantapp_viewed,dinein_number_of_guest,dinein_special_instruction,critical,commision_type,calculation_method,request_cancel,request_cancel_viewed,request_cancel_status,sofort_trans_id,dinein_table_number,edit_order_paymentid,eidt_order_cancelled_orderid,edit_order_editedby,edit_order_remarks,edit_order_ispayment_debited,edit_order_isonlineorder_cancelled,is_wallet_used,wallet_amount,customer_commission,offer_paid_by,fe_profit,thumbnail_image,pickup_address,pickup_latitude,pickup_longitude,shop_name,shop_description,sales_tax,sales_tax_percentage,is_updated_app,pickup_location,client_contact_no,settlement_status,settlement_date,packaging_rate,packaging_type,edit_order_amount_diff,edit_order_is_edit_items,edit_order_is_paid,payment_status,delivery_distance_km,restaurant_name,city,state
186606,489453,9720,159246,"[{""item_id"":""152821"",""merchant_id"":""9720"",""dis...",delivery,cod,330.0,0.05,16.5,317.5,successful,0,2,31.0,2022-01-29,08:17 PM,,make it little spicy..,FLYER,60.0,percentage,50.0,0,2022-01-29 18:33:21,2022-01-29 19:51:47,157.49.91.4,0.0,,0.0,0.0,10.0,33.0,2,313.500,0.0,0.0,0.0,0.0,2,0,1,mobile_app,"[{""item_id"":""152821"",""qty"":2,""price"":""80.0|"",""...",0.0,0,cqd5tqUhxN,1,0,,,1,percentage,1,2,2,pending,,,None,NaN,None,None,NaN,NaN,0,0.0,0.0,None,-27.0,None,None,None,None,None,None,0.00,0,1,None,+919865143769,paid,2022-02-02,0,,0.0,0,no,0,0.0,Hotel Guptha,Perambalur,Tamilnadu
119298,204973,465,38863,"[{""item_id"":""143421"",""merchant_id"":""465"",""disc...",delivery,cod,581.0,0.00,0.0,651.0,successful,0,2,70.0,2021-03-27,08:03 PM,,,,0.0,,NaN,0,2021-03-27 19:18:25,2021-03-27 21:11:24,106.76.15.81,0.0,,0.0,0.0,10.0,58.1,2,512.442,0.0,0.0,0.0,0.0,2,0,1,mobile_app,"[{""item_id"":""143421"",""qty"":1,""price"":""469.0|"",...",0.0,0,bGCbIq5fAT,1,0,,,1,percentage,1,2,2,pending,,,None,NaN,None,None,NaN,NaN,0,0.0,0.0,None,58.1,None,None,None,None,None,None,10.46,18,1,None,+918075778728,pending,None,0,,0.0,0,no,0,0.0,ChicKing,Edappal,Kerala

In [ ]:
fedf2=pd.merge(fedf2[['client_id','delivery_date','city']],
                 cdf[['first_name','last_name','email_address','contact_phone','client_id']],on ='client_id',how='left')

In [ ]:
fedf2['delivery_date'] = pd.to_datetime(fedf2['delivery_date'])

In [ ]:
fedf3 = pd.pivot_table(fedf2,index = ['city','client_id','first_name','last_name','email_address','contact_phone'],
               values=['delivery_date'],
               aggfunc = {'client_id' : len ,'delivery_date': max }).rename(
                   columns={'client_id':'No_of_orders','delivery_date':'last_ordered_date'}).reset_index()

In [ ]:
fedf3['last_ordered_date'] = pd.to_datetime(fedf3['last_ordered_date'])

In [ ]:
today_date = date.today()

In [ ]:
today_date= pd.to_datetime(today_date)

In [ ]:
fedf3.dtypes

city                                    object
client_id                                int64
first_name                              object
last_name                               object
email_address                           object
contact_phone                           object
No_of_orders                             int64
last_ordered_date               datetime64[ns]
no_of_days_since_last_order    timedelta64[ns]
dtype: object

In [ ]:
fedf3['no_of_days_since_last_order'] = today_date - fedf3['last_ordered_date']

# orders_by_timeintervals

In [ ]:
fedf2 = pd.merge(fedf[fedf['status']=='successful'],
                 mdf[['merchant_id','restaurant_name','city','state']], on='merchant_id')

In [ ]:
fedf3 = fedf2[['order_id','delivery_date','date_created','date_modified','city']]

In [ ]:
fedf3['Min_taken_to_deliver' ] = fedf3['date_modified'] -fedf3['date_created']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fedf3['Min_taken_to_deliver'] = fedf3['Min_taken_to_deliver'].dt.seconds//60

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fedf3.sample(2)

,order_id,delivery_date,date_created,date_modified,city,Min_taken_to_deliver
268500,320659,2021-08-09,2021-08-09 10:23:31,2021-08-09 12:16:49,Edappal,113
289552,462895,2022-01-01,2022-01-01 18:59:01,2022-01-01 19:27:36,Valanchery,28

In [ ]:
fedf4 = pd.pivot_table(fedf3, index= (['city','delivery_date','order_id']),
               values= ('Min_taken_to_deliver'),
               ).reset_index()

In [ ]:
fedf4.sample(2)

              city delivery_date  order_id  Min_taken_to_deliver
101812  Kolappuram    2021-12-24    454906                    25
81321        Karur    2021-09-02    344622                    47

In [ ]:
fedf4['Min_taken_to_deliver'].max()

1438

In [ ]:
bins = [1 , 30, 45, 60, 90,120,180,240,1500 ]
groups = fedf4.groupby(['city','delivery_date',pd.cut(fedf4.Min_taken_to_deliver,bins)])
fedf5 = groups.size().unstack().reset_index()

# Online transactions match with system records

In [ ]:
pgdf[pgdf['date_created'].dt.month == 8].sample(3)

# No of clients/each quarter

In [ ]:
fedf.sample(2)

In [ ]:
fedf = fedf[~fedf["delivery_date"].isnull()].copy()

In [ ]:
fedf2 =fedf[(fedf['status']=='successful')]

In [ ]:
fedf2[fedf2['merchant_id'].isnull()]

In [ ]:
fedf2[(fedf2['delivery_date'].dt.month == 9)]

In [ ]:
# fedf5= fedf4[ (fedf4['delivery_date'].dt.month == 9) ]
fedf[(fedf['delivery_date'].dt.month == 9)]

In [ ]:
chk.dtypes

In [ ]:
datetime.strftime(fedf['delivery_date'],"%Y-%m-%d%H%M%S")

In [ ]:
startdate = pd.to_datetime("2021-09-01").date()
enddate = pd.to_datetime("2021-09-30").date()
chk['delivery_date'].loc[startdate:enddate]

In [ ]:
chk2 = chk[chk['delivery_date'].dt.month == 9]

In [ ]:
pd.api.types.is_string_dtype(fedf['delivery_date'])

In [ ]:
def true_dtype(df): # You could add a column filter here too
    return {col: df[col].apply(lambda x: type(x)).unique().tolist() for col in df.columns}

true_types = true_dtype(fedf)
print(true_types)

In [ ]:
fedf.shape

In [ ]:
fedf['client_id'].apply(lambda x : type(x)).unique().tolist()

# fedf_obj = fedf3[['restaurant_name','city','state']]
# fedf3[fedf_obj.columns] = fedf_obj.apply(lambda x: x.str.strip())

In [ ]:
fedf['delivery_date'].apply(lambda x : x.str.strip())

In [ ]:
fedf.dtypes

In [ ]:
fedf[fedf['delivery_date'].map(type)==str]

In [ ]:
[col  for col, dt in fedf.dtypes.items() if dt == object]

In [ ]:
fedf.dtypes

In [ ]:
fedf

In [ ]:
fedf['delivery_date'] = pd.datetime(fedf['delivery_date'])

In [ ]:
ct = fedf.groupby([pd.Grouper(freq = "3M", key = 'delivery_date'),'client_id']).count()

In [ ]:
ct

In [ ]:
cdf.sample(5)

In [ ]:
# cdf['ddate'] = pd.to_datetime(cdf['date_created'])
cdf['ddate'] = cdf['date_created'].dt.date
cdf['ddate'] = pd.to_datetime(cdf['ddate'])
# datetime.strptime(cdf['date_created'],"%d%m%y%H%M%S")

In [ ]:
start_date = '2021-07-01'
end_date = '2021-09-30'
mask = (cdf['ddate'] > start_date) & (cdf['ddate'] <= end_date)
cdf2 = cdf.loc[mask]
cdf2.shape
# cdf2.size

# cdf.loc[(cdf['ddate'] > sdate) & (cdf['ddate'] <= edate)]

In [ ]:
fedf.sample(3)

In [ ]:
fedf.dtypes

In [ ]:
fedf['delivery_date'] = pd.to_datetime(fedf['delivery_date'])

In [ ]:

mask = (fedf['delivery_date'] > start_date) & (fedf['delivery_date'] <= end_date)
fedf2 = fedf.loc[mask]
fedf2.shape

# Test

In [ ]:
df = pd.DataFrame({'No': [123,123,123,523,523,523,765], 
                  'Type': ['A','B','C','A','C','D','A'],
                  'Task': ['Meena\'s kolambu kadai','Second','First','Second','Third','First','Fifth'],
                  'Color': ['blue','red','blue','black','red','red','red'],
                  'Price': [10,5,1,12,12,12,18],
                  'Unit': ['E','E','E','E','E','E','E'],
                  'Pers.ID': [45,6,6,43,1,9,2]
                  })

In [ ]:
df

    No Type                   Task  Color  Price Unit  Pers.ID
0  123    A  Meena's kolambu kadai   blue     10    E       45
1  123    B                 Second    red      5    E        6
2  123    C                  First   blue      1    E        6
3  523    A                 Second  black     12    E       43
4  523    C                  Third    red     12    E        1
5  523    D                  First    red     12    E        9
6  765    A                  Fifth    red     18    E        2

In [ ]:
pick= ['blue','black']

In [ ]:
df.loc[df['Color'].isin(pick)]

In [ ]:
df.loc[df['Type']=='A','gst'] = df['Price']*.18

In [ ]:
df

In [ ]:
pd.pivot_table(df,index='Type', values=['Price','Pers.ID','No'],aggfunc={['Price','Pers.ID']:[np.mean,np.sum]} )

In [ ]:
a = np.nan
b = 10
if a == 'yes' :
  c= b*.18
else :
  c = b

c

In [ ]:
mydata = [{'ID' : '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016'},
          {'ID' : '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016'}]

mydata2 = [{'ID': '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016', 'Date': '10/10/2016'},
           {'ID': '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016', 'Date': '11/10/2016'},
           {'ID': '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016', 'Date': '12/10/2016'},
           {'ID': '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016', 'Date': '13/10/2016'},
           {'ID': '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016', 'Date': '14/10/2016'},
           {'ID': '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016', 'Date': '15/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '10/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '11/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '12/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '13/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '14/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '15/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '16/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '17/10/2016'},
           {'ID': '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016', 'Date': '18/10/2016'},]

df = pd.DataFrame(mydata)
df2 = pd.DataFrame(mydata2)

In [ ]:
df

In [ ]:
df['Entry Date'] = pd.to_datetime(df['Entry Date'])
df['Exit Date'] = pd.to_datetime(df['Exit Date'])

In [ ]:
df3 = df.melt(id_vars= 'ID',value_name='Date' )

In [ ]:
df3.Date = pd.to_datetime(df3.Date)

In [ ]:
df.sample(frac = 1).reset_index(drop= True).head(10)

In [ ]:
portfolio.describe(include = object)

In [ ]:
# to also get Nan values in categorical objects
display(df['Gender'].value_counts(dropna= False))

In [ ]:

# Franchise data consolidation
# PATH = "/content/drive/My Drive/Merchant Payout/2021/Jan 2021/Franchise/Kerala"
PATH = "/content/drive/My Drive/Merchant Payout/2021/Aug 2021/"
# EXT = 'All Merchant*.xlsx'
f_names = ['Commission*.xlsx','All Merchant*.xlsx']
ddf = pd.DataFrame()
ddf3= pd.DataFrame()
ddf4= pd.DataFrame()
month_list = ['Aug 2021','Jul 2021']
fe_loc = ['Ariyalur','Chalakudy','Chengalpattu','Coonoor','Cuddalore','Dharapuram','Dindigul','Jayamkondam','Kallakurichi',
          'Karaikal','Karaikudi','Karur','karur','Kollam','Kottakkal','Kottarakkara','Kozhikode','Kumbakonam','Madurai',
          'Mannargudi','Mayiladuthurai','Namakkal','Ooty','ooty','Ottanchatram','Palakkad','Palani','Palladam','Parangipettai',
          'Pattukkottai','Perambalur','Perinthalmanna','Pollachi','Sengottai','Sirkali','Sulur','Tambaram','Tenkasi','Theni',
          'Thirukoilure','Thiruvallur','Tindivanam','Tirupathur','Tiruppur','Trichy_Central''Udayarpalayam','Udumalpet',
          'Ulundurpet','Virudhachalam',]
fran_loc =['Chidambaram','Edappal','Kolappuram','Malappuram','Manjeri','Panruti','Paramathi_Velur','Ramanathapuram','Thiruvarur',
           'Tirur','Valanchery',]
shlist = ["Data","Aug 2021"]
first_day = "01"
last_day = "31"
# shlist2 = ['Aug 2021','']
# shlist = ["Jan 2019","Feb 2019","Mar 2019","Apr 2019","May 2019","Jun 2019","Jul 2019","Aug 2019","Sep 2019","Oct 2019","Nov 2019","Dec 2019",
          # "Jan 2020","Feb 2020","Mar 2020","Apr 2020","May 2020","Jun 2020","Jul 2020","Aug 2020","Sep 2020","Oct 2020","Nov 2020","Dec 2020",
          # "Jan 2021","Feb 2021","Mar 2021","Apr 2021","May 2021","Jun 2021","Jul 2021","Aug 2021","Sep 2021","Oct 2021","Nov 2021","Dec 2021"]

# for path, subdir, files in os.walk(PATH):
#     for file in glob(os.path.join(path, EXT)):
for path, subdir, files in os.walk(PATH):
  for y in range(len(f_names)):
      for file in glob(os.path.join(path, f_names[y])):
        #df.append(pd.read_csv(file))
        print(file)
        ddf2=pd.ExcelFile(file)
        shlist1 = ddf2.sheet_names
        # mtdf= mtdf.append(mtdf2)
        
        for x in range(len(shlist1)) :
          
          if shlist1[x] in shlist:
              print(shlist1[x])
              ddf3 = pd.read_excel(file, sheet_name= shlist1[x] )
              if shlist1[x] != "Data":
                ddf  = ddf.append(ddf3)
                # x = mtdf3[mtdf3.isnull().all(axis=1) == True].index.values.tolist()[0]
                # mtdf3 = mtdf3[:x]
                # mtdf3 = mtdf3.loc[mtdf3['Location'].isin(fe_loc)]              
                # path_list = file.split(os.sep)
                # monthndate(path_list)
                # # https://stackoverflow.com/questions/29657384/remove-part-of-string-before-the-last-forward-slash/29657423
                # # https://stackoverflow.com/questions/1142851/merge-some-list-items-in-a-python-list
                # mtdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]
              else: 
                ddf4 = ddf4.append(ddf3)
                # mtdf3 = mtdf3.loc[mtdf3['Location'].isin(fran_loc)]
                # mtdf3['month'] = month_list[0]
                # mtdf3['fdate'] = first_day + ' ' + month_list[0]
                # mtdf3['tdate'] = last_day + ' ' + month_list[0]
                # mtdf3['file_name'] = ['/'.join(file.rsplit('/',2)[1:3])][0]                          
              # ddf  = ddf.append(ddf3)
              print(x)
              


# to download files in to local system
        # from google.colab import files
        # files.download(file)

In [ ]:
print(ddf.shape)
print(ddf4.shape)

In [ ]:
ddf.drop_duplicates(subset= 'Order #',inplace=True)
ddf4.drop_duplicates(subset='Ref#' ,inplace=True)

In [ ]:
ddf =ddf[ddf['Delivered Date/Time'].dt.month == 8]
ddf4 =ddf4[ddf4['Date'].dt.month == 8]

In [ ]:
ddf4['Date'].value_counts()

In [ ]:
ddf.sample(2)

In [ ]:
ddf['City'].unique()

In [ ]:
ddf[ddf['City'].isin(['Thiruvarur','Chidambaram'])]['Paid?'].value_counts()

In [ ]:
ddf4[ddf4['Ref#']==314629]

In [ ]:
ddf4['City'].value_counts()

In [ ]:
fedf3.sample(2)

In [ ]:
fedf3[(fedf3['delivery_date'].dt.month==8) & (fedf3['status']=='successful')]['city'].value_counts()

In [ ]:
sysdf = fedf3[(fedf3['delivery_date'].dt.month==8) & (fedf3['status']=='successful')]

In [ ]:
sysdf[(~sysdf['order_id'].isin(ddf4['Ref#'])) & (sysdf['city']=='Pollachi')].count()

In [ ]:

sysdf[(sysdf['city']=='Pollachi')]

In [ ]:

ddf.info()

In [ ]:
ddf4.info()

In [ ]:
ddf5 = ddf[ddf['City'].notna()]

In [ ]:
ddf6= ddf4[ddf4['City'].notna()]

In [ ]:
ddf.sample(2)

In [ ]:
ddf4.sample(2)

In [ ]:
tdf.city.unique()

# Last

In [ ]:
fedf.shape

In [ ]:
chk2 = fedf.tail(10000)

In [ ]:
chk2.shape

In [ ]:
from google.colab import files
tdf3.to_excel('unmapped_orders.xlsx',index= False)
files.download('unmapped_orders.xlsx')

In [ ]:
from google.colab import files
mtdf3.to_csv('merchants.csv',encoding='utf-8-sig',index= False)
files.download('merchants.csv')

In [ ]:
write_to_google_sheet(fedf6, GOOGLE_SHEET_KEY, 'Sheet1')
# def write_to_google_sheet(dataframe, spreadsheet_key, worksheet_name, goog_creds = gc):